@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    background-color: #F8F8FF;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Navigation */
nav{
    padding: 1rem 5rem ;
    background: white;
    justify-content: space-between;
    display: flex;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 100;
}

/* Body */