@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    background-color: #F8F8FF;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

body{
    margin: 0;
    padding: 0;
}

main{
    padding: 30px 5em;
}

h1{
    font-size: 3em;
}

/* Navigation */

#company-logo{
    width: max-content;
    align-self: center;
}
nav{
    padding: 1rem 3rem ;
    background: white;
    justify-content: space-between;
    display: flex;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 100;
}

/* Body */
/* Message */
.message{
    height: max-content;
    line-height: 1.1em;
}
.main-img{
    margin: 3em 0px;
    text-align: center;
}